.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.toggle-checkbox {
  appearance: none; 
  width: 40px; 
  height: 20px; 
  background-color: #ccc; 
  border-radius: 9999px; 
  position: relative; 
  outline: none; 
  cursor: pointer; 
  transition: background-color 0.2s; 
}

.toggle-checkbox:checked {
  background-color: #3b82f6; 
}

.toggle-checkbox:checked::before {
  transform: translateX(20px); 
}

.toggle-checkbox::before {
  content: ''; 
  position: absolute; 
  top: 2px; 
  left: 2px; 
  width: 16px; 
  height: 16px; 
  background-color: white; 
  border-radius: 9999px; 
  transition: transform 0.2s; 
}

/* Optional: Add some margin to keep a gap between text and toggle */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}